<%= form_tag properties_path, method: :get, class: "simple_form form-light" do %>

  <%= hidden_field_tag :type, params[:type] %>

  <div class="row div_precios_venta">

    <div class="col-sm-6">
      <div class="form-group select optional search_for_sale_price_from">
        <%= label_tag :price_from, rent_type? ? "Rent From (Monthly)" : "Price From", class: "control-label select optional" %>

        <% if rent_type? %>
          <%= select_tag :price_from, options_for_select(Property::PRICE_RENT.collect { |p| number_with_delimiter(p, delimeter: ',') } ), prompt: "Select" %>
        <% else %>
          <%= select_tag :price_from, options_for_select(Property::PRICE_SALE.collect { |p| number_with_delimiter(p, delimeter: ',') } ), prompt: "Select" %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group select optional search_for_sale_price_till">
        <%= label_tag :price_till, rent_type? ? "Rent Till (Monthly)" : "Price Till", class: "control-label select optional" %>

        <% if rent_type? %>
          <%= select_tag :price_till, options_for_select(Property::PRICE_RENT.collect { |p| number_with_delimiter(p, delimeter: ',') } ), prompt: "Select" %>
        <% else %>
          <%= select_tag :price_till, options_for_select(Property::PRICE_SALE.collect { |p| number_with_delimiter(p, delimeter: ',') } ), prompt: "Select" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group select optional search_property_type">
    <%= label_tag :property_type, "Property Type", class: "control-label select optional" %>
    <%= select_tag :property_type, options_for_select(Property::TYPE), prompt: "Select Property Type" %>
  </div>

  <div class="row div_precios_venta">
    <div class="col-sm-6">
      <div class="form-group select optional search_count_bedrooms">
        <%= label_tag :bedrooms, "Bedrooms (min)", class: "control-label select optional" %>
        <%= select_tag :bedrooms, options_for_select((0..50).to_a), prompt: "Select" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group select optional search_count_bathrooms">
        <%= label_tag :bathrooms, "Bathrooms (min)", class: "control-label select optional" %>
        <%= select_tag :bathrooms, options_for_select((0..20).to_a), prompt: "Select" %>
      </div>
    </div>
  </div>
  <div>
    <%= button_tag type: :submit, class: "button btn fondo_accion btn-icon" do %>
      <i class="fa fa-search"></i>Search
    <% end %>
  </div>
<% end %>
