<div class="pg-opt">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Search for properties</h2>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
<section class="slice bg-white bb">
  <div class="wp-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div id="inmo-search-results">
            <div id="resp_buscar_inmuebles">
              <ul id="ordered-properties" class="list-listings">
                <% @properties.each do |property| %>
                  <li class="property-item row  cuadro_inmueble">
                    <div class="prop-listing-image col-xs-12 col-sm-5 col-md-4">
                      <div class="prop-figure">
                        <%= link_to property_path(property) do %>
                          <%= image_tag property.avatar_url, class: "img-responsive" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="prop-listing-body col-xs-12 col-sm-7 col-md-8">
                      <div class="prop-listing-text">
                        <h3>
                          <%= link_to property.name.titleize, property_path(property), class: "action_link" %>
                        </h3>
                        <p><%= property.geocodeable_address %></p>
                      </div>
                      <div class="meta-info">
                        <ul>
                          <li>
                            <span class="fa fa-money">
                              Rs. <%= property.price.to_f %></span>
                          </li>
                          <li>
                            <i class="fa fa-bed"></i>
                            <small><%= property.bed_count %></small>
                          </li>
                          <li>
                            <i class="fa fa-shower"></i>
                            <small><%= property.bath_count %></small>
                          </li>
                          <li>
                            <i class="fa fa-arrows-alt"></i> <small><%= property.constructed_area %> m<sup>2</sup></small>
                          </li>
                          <li>
                            <i class="fa fa-car"></i>
                            <small><%= property.garage_count %></small>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
              <div class="wp-block default product-list-filters light-gray" style="display: none;">
                <ul class="pagination pagination pull-left">
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="sidebar">
            <div class="panel panel-default panel-sidebar-1">
              <div class="panel-heading">
                <h2>Search for properties</h2>
              </div>

              <div class="panel-body">
                <%= render partial: "search_properties_form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
