<nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 nav-links pull-right">
        <%= link_to "Home", "#", class: "scroll-link button-1 active" %>
        <%= link_to "Buy", "#", class: "scroll-link button-1" %>
        <%= link_to "Rent", "#", class: "scroll-link button-1" %>
        <%= link_to "Sell", "#", class: "scroll-link button-1" %>
        <%= link_to "Property Management", "#", class: "scroll-link button-1" %>
        <%= link_to "About", "#", class: "scroll-link button-1" %>
        <%= link_to "Contact", "#", class: "scroll-link button-1" %>
        <div class="show-menu"><span></span></div>
      </div>
    </div>
  </div>
</nav>
