<div class="homepage">
  <div class="hero">
    <div class="container">
      <header>
        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-home icon-service"></div>
            </h2>
            <h4 class="section-desc">Find Your Home</h4>

            <p>Explain to us exactly what you are looking for and we will do our best to find that ideal property that meets your needs.</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-money icon-service"></div>
            </h2>
            <h4 class="section-desc">Sell Your Property</h4>

            <p>If you need to sell your property, get in touch with us. With our experience in the industry and the local area we will get it done in the quickest and simplest way.</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-user icon-service"></div>
            </h2>
            <h4 class="section-desc">Professional Estate Agents</h4>

            <p>We are professional estate agents. We will help you with all the paperwork and save you money along the way.</p>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="fullwidth-block">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="circle-numbered-feature">
            <li>
              <h3>Curabitur ligula enim adipiscing eget</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
            </li>
            <li>
              <h3>Curabitur ligula enim adipiscing eget</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
            </li>
            <li>
              <h3>Curabitur ligula enim adipiscing eget</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
            </li>
            <li>
              <h3>Curabitur ligula enim adipiscing eget</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
            </li>
          </ul>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <figure>
            <%= image_tag "dummy/figure" %>
          </figure>
        </div>
      </div>
    </div>
  </div> <!-- .fullwidth-block -->

  <div class="fullwidth-block" data-bg-color="#083461">
    <div class="container">
      <header bg-dark>
        <h2 class="section-title">Consequat erat velit phasellus</h2>
        <p class="section-desc"> Aliquam malesuada accumsan quam sit amet hendrerit. <br> Aliquam ut eros nec massa tristique pellentesque quis quis diam.</p>
      </header>

      <div class="posts-list">
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-1" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-2" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-3" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-4" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-5" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
        <div class="post">
          <div class="post-content">
            <figure class="featured-image">
              <%= image_tag "dummy/small-thumb-6" %>
            </figure>
            <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
            <strong class="price">$279.00</strong>
          </div>
        </div>
      </div>

      <p class="text-center">
        <a href="house.html" class="button">See more houses</a>
      </p>
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->

  <div class="fullwidth-block">
    <div class="container">
      <div class="post-grid">
        <div class="post">
          <figure class="featured-image">
            <%= image_tag "dummy/large-thumb-1" %>
          </figure>
          <div class="post-detail">
            <h2 class="entry-title"><a href="house.html">Donec bibendum est lobortis molestie auctor lorem</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt temporibus voluptates id praesentium nihil. Aspernatur, quo. Est laboriosam consectetur atque quo eius. Libero excepturi quam dolorum quia sapiente, saepe velit!</p>
            <span class="arrow"></span>
          </div> <!-- .post-detail -->
        </div> <!-- .post -->
        <div class="post">
          <figure class="featured-image">
            <%= image_tag "dummy/large-thumb-1" %>
          </figure>
          <div class="post-detail">
            <h2 class="entry-title"><a href="house.html">Donec bibendum est lobortis molestie auctor lorem</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt temporibus voluptates id praesentium nihil. Aspernatur, quo. Est laboriosam consectetur atque quo eius. Libero excepturi quam dolorum quia sapiente, saepe velit!</p>
            <span class="arrow"></span>
          </div> <!-- .post-detail -->
        </div> <!-- .post -->
      </div> <!-- .post-grid -->
    </div> <!-- .container -->
  </div> <!-- .fullwidth-block -->
</div>
