<div class="homepage">
  <div class="hero">
    <div class="container">
      <header>
        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-home icon-service"></div>
            </h2>
            <h4 class="section-desc">Find Your Home</h4>

            <p>Explain to us exactly what you are looking for and we will do our best to find that ideal property that meets your needs.</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-money icon-service"></div>
            </h2>
            <h4 class="section-desc">Sell Your Property</h4>

            <p>If you need to sell your property, get in touch with us. With our experience in the industry and the local area we will get it done in the quickest and simplest way.</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="single-service">
            <h2 class="section-title">
              <div class="fa fa-user icon-service"></div>
            </h2>
            <h4 class="section-desc">Professional Estate Agents</h4>

            <p>We are professional estate agents. We will help you with all the paperwork and save you money along the way.</p>
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="fullwidth-block">
    <div class="container">
      <header class="bg-blue">
        <h2>Top Featured Properties</h2>
      </header>

      <div class="posts-list">
        <div class="row">
          <% @featured_props.each do |featured_property| %>
            <div class="col-md-4">
              <div class="fp-block property white list">
                <%= link_to property_path(featured_property) do %>
                  <div class="figure">
                    <%= image_tag featured_property.avatar_url, class: "img-responsive" %>
                  </div>
                <% end %>
                <div class="fp-block-body">
                  <h2 class="title overflow-elip">
                    <%= link_to featured_property.name, property_path(featured_property) %>
                  </h2>
                  <h2 class="subtitle">
                    <div>
                      <span class="precio negrita">
                        Rs. <%= featured_property.price %>
                      </span>
                    </div>
                  </h2>
                </div>
                <div class="fp-block-footer">
                  <ul class="aux-info">
                    <li class="hidden-xs">
                      <i class="fa fa-bed"></i>
                      <small>
                        <%= featured_property.bed_count %>
                      </small>
                    </li>
                    <li class="hidden-xs">
                      <i class="fa fa-shower"></i>
                      <small>
                        <%= featured_property.bath_count %>
                      </small>
                    </li>
                    <li class="hidden-xs">
                      <i class="fa fa-arrows-alt"></i>
                      <small>
                        <%= featured_property.plot_area %><sup>2</sup>
                      </small>
                    </li>
                    <li class="hidden-xs">
                      <i class="fa fa-car"></i>
                      <small>
                        <%= featured_property.garage_count %>
                      </small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <p class="text-center">
        <%= link_to "See More", properties_path, class: "button" %>
      </p>
    </div>
  </div>

  <div class="fullwidth-block">
    <div class="container">
      <div class="post-grid">
        <% if @sale_prop.present? %>
          <div class="post">
            <figure class="featured-image">
              <%= link_to property_path(@sale_prop) do %>
                <%= image_tag @sale_prop.avatar_url %>
              <% end %>
            </figure>
            <div class="post-detail">
              <h2 class="entry-title">Newest Property for Sale</h2>
              <h4><span>Name: </span><%= @sale_prop.name.titleize %></h4>
              <h4><span>Price: </span>Rs. <%= @sale_prop.price %></h4>
              <div class="fp-block-footer">
                <ul class="aux-info">
                  <li class="hidden-xs">
                    <i class="fa fa-bed"></i>
                    <small>
                      <%= @sale_prop.bed_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-shower"></i>
                    <small>
                      <%= @sale_prop.bath_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-arrows-alt"></i>
                    <small>
                      <%= @sale_prop.plot_area %><sup>2</sup>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-car"></i>
                    <small>
                      <%= @sale_prop.garage_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-bath"></i>
                    <small>
                      <%= @sale_prop.toilet_count %>
                    </small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <% if @rent_prop.present? %>
          <div class="post">
            <figure class="featured-image">
              <%= link_to property_path(@rent_prop) do %>
                <%= image_tag @rent_prop.avatar_url %>
              <% end %>
            </figure>
            <div class="post-detail">
              <h2 class="entry-title">Newest Property for Rent</h2>
              <h4><span>Name: </span><%= @rent_prop.name.titleize %></h4>
              <h4><span>Price: </span>Rs. <%= @rent_prop.price %></h4>
              <div class="fp-block-footer">
                <ul class="aux-info">
                  <li class="hidden-xs">
                    <i class="fa fa-bed"></i>
                    <small>
                      <%= @rent_prop.bed_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-shower"></i>
                    <small>
                      <%= @rent_prop.bath_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-arrows-alt"></i>
                    <small>
                      <%= @rent_prop.plot_area %><sup>2</sup>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-car"></i>
                    <small>
                      <%= @rent_prop.garage_count %>
                    </small>
                  </li>
                  <li class="hidden-xs">
                    <i class="fa fa-bath"></i>
                    <small>
                      <%= @rent_prop.toilet_count %>
                    </small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
