<div class="hero">
  <div class="hero-half-background" data-bg-image="dummy/hero.jpg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="hero-content">
          <h2 class="hero-title">Bibendum ante ut sodales consequat erat velit</h2>
          <p>Curabitur ligula enim, adipiscing eget urna at, laoreet tempus leo. Fusce sollicitudin nulla ut nibh accumsan, quis venenatis nulla commodo. Nunc commodo condimentum congue.</p>
          <span class="arrow"></span>
        </div>
      </div> <!-- .col-md-5 -->
      <div class="col-md-5 col-md-offset-2">
        <div class="request-form">
          <h2>Consectetur adipisicing</h2>
          <p>Curabitur ligula enim, adipiscing eget urna laoreet tempus. Fusce sollicitudin nulla accumsan venenatis nulla commodo commodo condimentum congue mauris tincidunt aliquam. </p>

          <form action="#">
            <div class="field">
              <label for="#">Your name:</label>
              <input type="text">
            </div> <!-- .field -->
            <div class="field-column row">
              <div class="col-sm-6">
                <div class="field">
                  <label for="">Email:</label>
                  <input type="text">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="field">
                  <label for="">Phone:</label>
                  <input type="text">
                </div>
              </div>
            </div> <!-- .field-column -->
            <div class="field">
              <label for="#">Street:</label>
              <input type="text">
            </div> <!-- .field -->
            <div class="field">
              <label for="#">City:</label>
              <input type="text">
            </div> <!-- .field -->
            <input type="submit" value="Send a request">
          </form>
        </div> <!-- .request-form -->
      </div> <!-- .col-md-5 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .hero -->

<div class="fullwidth-block">
  <div class="container">
    <header>
      <h2 class="section-title">Consequat erat velit phasellus</h2>
      <p class="section-desc"> Aliquam malesuada accumsan quam sit amet hendrerit.  <br>Aliquam ut eros nec massa tristique pellentesque quis quis diam.</p>
    </header>

    <div class="row">
      <div class="col-md-6">
        <ul class="circle-numbered-feature">
          <li>
            <h3>Curabitur ligula enim adipiscing eget</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
          </li>
          <li>
            <h3>Curabitur ligula enim adipiscing eget</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
          </li>
          <li>
            <h3>Curabitur ligula enim adipiscing eget</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
          </li>
          <li>
            <h3>Curabitur ligula enim adipiscing eget</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptates beatae doloribus velit laboriosam repellendus, odio similique ea eius esse dolorum fuga earum vero!</p>
          </li>
        </ul>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <figure>
          <%= image_tag "dummy/figure" %>
        </figure>
      </div>
    </div>
  </div>
</div> <!-- .fullwidth-block -->

<div class="fullwidth-block" data-bg-color="#083461">
  <div class="container">
    <header bg-dark>
      <h2 class="section-title">Consequat erat velit phasellus</h2>
      <p class="section-desc"> Aliquam malesuada accumsan quam sit amet hendrerit. <br> Aliquam ut eros nec massa tristique pellentesque quis quis diam.</p>
    </header>

    <div class="posts-list">
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-1" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-2" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-3" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-4" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-5" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
      <div class="post">
        <div class="post-content">
          <figure class="featured-image">
            <%= image_tag "dummy/small-thumb-6" %>
          </figure>
          <h2 class="entry-title"><a href="house.html">Nullam mi lacus iacullis magna</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem placeat quas, fugit asperiores adipisci maxime</p>
          <strong class="price">$279.00</strong>
        </div>
      </div>
    </div>

    <p class="text-center">
      <a href="house.html" class="button">See more houses</a>
    </p>
  </div> <!-- .container -->
</div> <!-- .fullwidth-block -->

<div class="fullwidth-block">
  <div class="container">
    <div class="post-grid">
      <div class="post">
        <figure class="featured-image">
          <%= image_tag "dummy/large-thumb-1" %>
        </figure>
        <div class="post-detail">
          <h2 class="entry-title"><a href="house.html">Donec bibendum est lobortis molestie auctor lorem</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt temporibus voluptates id praesentium nihil. Aspernatur, quo. Est laboriosam consectetur atque quo eius. Libero excepturi quam dolorum quia sapiente, saepe velit!</p>
          <span class="arrow"></span>
        </div> <!-- .post-detail -->
      </div> <!-- .post -->
      <div class="post">
        <figure class="featured-image">
          <%= image_tag "dummy/large-thumb-1" %>
        </figure>
        <div class="post-detail">
          <h2 class="entry-title"><a href="house.html">Donec bibendum est lobortis molestie auctor lorem</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt temporibus voluptates id praesentium nihil. Aspernatur, quo. Est laboriosam consectetur atque quo eius. Libero excepturi quam dolorum quia sapiente, saepe velit!</p>
          <span class="arrow"></span>
        </div> <!-- .post-detail -->
      </div> <!-- .post -->
    </div> <!-- .post-grid -->
  </div> <!-- .container -->
</div> <!-- .fullwidth-block -->
