<div class="homepage sell">
  <div class="hero">
    <div class="hero-half-background"></div>
    <div class="container">
      <div class="row">
        <%= render partial: "contact_details" %>

        <div class="col-md-5 col-md-offset-2">
          <div class="request-form">
            <h2>Sell Your Property</h2>
            <p class="text-grey">Please fill in the following form to sell your property:</p>

            <%= form_tag send_email_request_path, remote: true do %>
              <div class="field">
                <div class="form-group">
                  <%= label_tag :name, "Name", class: "control-label" %>
                  <%= text_field_tag :name, "", required: true, class: "form-control" %>
                </div>
              </div>

              <div class="field-column row">
                <div class="col-sm-6">
                  <div class="field">
                    <%= label_tag :email, "Email", class: "control-label" %>
                    <%= text_field_tag :email, "", required: true, class: "form-control" %>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="field">
                    <%= label_tag :phone, "Phone", class: "control-label" %>
                    <%= text_field_tag :phone, "", required: true, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="form-group">
                  <%= label_tag :description, "Description", class: "control-label" %>
                  <%= text_area_tag :description, "", required: true, class: "form-control" %>
                </div>
              </div>
              <%= submit_tag "Send Request" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth-block content">
    <div class="container">
      <p class="leading">Sell Your Property with Us</p>
      <p>Our commitment to you is to uphold the highest standards of professionalism while helping you make your best real estate decisions. You want to sell your property with full confidence. In doing so, you deserve our very best. Our goal at Example Real Estate is to provide you with exceptional service while meeting your needs at each step of the selling process. </p>
    </div>

    <div class="container">
      <p class="leading">Regional Expertise</p>
      <p>Our clients and our business affiliates will tell you, no listings in our market region of Birmingham receive more exposure to buyers than those listed with Example Real Estate. Our Internet-based marketing, print advertising, and collateral marketing efforts allow our listings unequaled exposure to buyers who are looking for real estate in Birmingham. The strength of our online marketing, print advertising, and direct broker contacts drive significant traffic to our website, which provides detailed information on all of our property listings. </p>
    </div>

    <div class="container">
      <p class="leading">Ready to Help You</p>
      <p>Our Qualified Brokerage Professionals and Staff at Example Real Estate have the experience, the knowledge and the discretion to represent your property throughout Birmingham. Our team of dedicated and professional brokers and staff are committed to providing extraordinary service. You may be assured that Example RE provides the tools and assists your broker in marketing your property efficiently and expertly to local, regional and national markets. It takes more than a sign on your home or property to attract buyers. We create a complete marketing plan to meet your needs. </p>
    </div>
  </div>
</div>
