<%= form_for [:admin, property] do |form| %>
  <%= render "shared/error_messages", target: property %>

  <div class="row">
    <div class="col-md-4 pr-1">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 px-1">
      <div class="form-group">
        <%= form.label :year_construction %>
        <%= form.number_field :year_construction, value: property.persisted? ? property.year_construction : "", placeholder: "e.g. 1998", required: true, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-2 pl-1">
      <div class="form-group">
        <%= form.label :plot_area %>
        <%= form.number_field :plot_area, step: :any, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :constructed_area %>
        <%= form.number_field :constructed_area, step: :any, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 pr-1">
      <div class="form-group">
        <%= form.label :bed_count %>
        <%= form.number_field :bed_count, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pr-1">
      <div class="form-group">
        <%= form.label :bath_count %>
        <%= form.number_field :bath_count, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :toilet_count %>
        <%= form.number_field :toilet_count, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :garage_count %>
        <%= form.number_field :garage_count, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, step: :any, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :commission %>
        <%= form.number_field :commission, step: :any, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :lat, value: "Lattitude" %>
        <%= form.number_field :lat, step: :any, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :long, value: "Longitude" %>
        <%= form.number_field :long, step: :any, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :street_no %>
        <%= form.text_field :street_no, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :street_name %>
        <%= form.text_field :street_name, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :address %>
        <%= form.text_field :address, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :postal_code %>
        <%= form.text_field :postal_code, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :city %>
        <%= form.text_field :city, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :province %>
        <%= form.text_field :province, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :region %>
        <%= form.text_field :region, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3 pl-1">
      <div class="form-group">
        <%= form.label :country %>
        <%= form.select :country, AdminHelper::COUNTRIES, { prompt: "- Select Country -" }, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :furnished, class: "form-check-label" do %>
          <%= form.check_box :furnished, { class: 'form-check-input' }, 'true', 'false' %> Furnished
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :sold, class: "form-check-label" do %>
          <%= form.check_box :sold, { class: 'form-check-input' }, 'true', 'false' %> Sold
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :reserved, class: "form-check-label" do %>
          <%= form.check_box :reserved, { class: 'form-check-input' }, 'true', 'false' %> Reserved
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :archived, class: "form-check-label" do %>
          <%= form.check_box :archived, { class: 'form-check-input' }, 'true', 'false' %> Archived
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :visible, class: "form-check-label" do %>
          <%= form.check_box :visible, { class: 'form-check-input' }, 'true', 'false' %> Visible
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :featured, class: "form-check-label" do %>
          <%= form.check_box :featured, { class: 'form-check-input' }, 'true', 'false' %> Featured
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :for_sale, class: "form-check-label" do %>
          <%= form.check_box :for_sale, { class: 'form-check-input' }, 'true', 'false' %> For Sale
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>

    <div class="col-md-2 pr-1">
      <div class="form-check">
        <%= form.label :for_rent, class: "form-check-label" do %>
          <%= form.check_box :for_rent, { class: 'form-check-input' }, 'true', 'false' %> For Rent
          <span class="form-check-sign"></span>
        <% end %>
      </div>
    </div>
  </div>

  <%= form.button :submit, class: "btn btn-info btn-fill pull-right" do %>
    <i class="fa fa-send-o"></i>
    <%= form_submit_text(form.object) %>
  <% end %>
  <div class="clearfix"></div>
<% end %>
